<div id="backdrop">
	<div id="teamlist">
		<h1>Teams</h1>
		<p id="title">Team Name</p>
			<% @teams.each do |team| %>
				<p class="teamiterate">
					<%= team.name.titleize %>
					<span>
						<%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' } %>
					</span>
				</p>
			<% end %>
	</div>
	<%= render 'form' %>
</div>