<h1>Team D-Playbooks</h1>
    <% @team_has_ds.each do |team_has_d| %>
        <%= team_has_d.team_id %>
        <%= team_has_d.dPlay_id %>
        <%= link_to 'Destroy', team_has_d, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%= render 'form' %>