<h1>Team O-Playbooks</h1>
    <% @team_has_os.each do |team_has_o| %>
        <%= team_has_o.team_id %>
        <%= team_has_o.oPlay_id %>
        <%= link_to 'Destroy', team_has_o, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%= render 'form' %>